<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZBNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D0339271DDEB4A3001C48A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0339401DDEB4A3001C48A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D03394B1DDEB4A3001C48A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
