<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://www.baidu.com</string>
		<key>imgUrl</key>
		<string>http://img06.tooopen.com/images/20161214/tooopen_sy_190570171299.jpg</string>
	</dict>
</array>
</plist>
