<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://www.hao123.com</string>
		<key>imgUrl</key>
		<string>http://img04.tooopen.com/images/20130701/tooopen_10055061.jpg</string>
	</dict>
</array>
</plist>
