<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>健康</string>
		<key>menu_id</key>
		<string>52</string>
	</dict>
	<dict>
		<key>title</key>
		<string>命理</string>
		<key>menu_id</key>
		<string>104</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情感</string>
		<key>menu_id</key>
		<string>51</string>
	</dict>
	<dict>
		<key>title</key>
		<string>萌宠</string>
		<key>menu_id</key>
		<string>68</string>
	</dict>
	<dict>
		<key>title</key>
		<string>星座</string>
		<key>menu_id</key>
		<string>56</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美文</string>
		<key>menu_id</key>
		<string>49</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>menu_id</key>
		<string>67</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚</string>
		<key>menu_id</key>
		<string>63</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爆笑</string>
		<key>menu_id</key>
		<string>65</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生肖</string>
		<key>menu_id</key>
		<string>125</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>menu_id</key>
		<string>59</string>
	</dict>
	<dict>
		<key>title</key>
		<string>测一测</string>
		<key>menu_id</key>
		<string>66</string>
	</dict>
	<dict>
		<key>title</key>
		<string>风水</string>
		<key>menu_id</key>
		<string>74</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史</string>
		<key>menu_id</key>
		<string>75</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小窍门</string>
		<key>menu_id</key>
		<string>209</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家具</string>
		<key>menu_id</key>
		<string>62</string>
	</dict>
	<dict>
		<key>title</key>
		<string>育儿</string>
		<key>menu_id</key>
		<string>58</string>
	</dict>
</array>
</plist>
